<app-header></app-header>
<div class="container-fluid">
  <div class="back-btn" style="margin-top: 16px">
    <button class="btn btn-secondary" (click)="back()">
      Quay lại
    </button>
  </div>
  <div class="form-charging">
    <app-loading [loader]="isLoading"></app-loading>
  
    <div class="form-group">
      <div class="url-input flex">
        <div class="label">Loại nhóm</div>
        <div class="list-input flex">
          <ng-container>
            <div class="flex" style="margin: 0 4px 8px 4px;">
              <input [value]="categoryname" type="text" class="form-control" disabled />
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="url-input flex">
        <div class="label">Thumbs</div>
        <div class="list-input flex">
          <ng-container *ngFor="let thumb of model.thumbs; let i = index">
            <div class="flex" style="margin: 0 4px 8px 4px;">
              <img class="m-3" src="{{thumb}}" height="260">
              <!-- <input type="text" class="form-control" [value]="thumb" placeholder="thumbs" (input)="changethumbs($event, thumb, i)" /> -->
              <!-- <button class="btn btn-danger" (click)="deleteThumb(i)">
                Xoá
              </button> -->
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <div class="btn-section">
        <button class="btn btn-success" style="margin-right: 8px" (click)="addThumb()">
          Thêm
        </button>
      </div> -->
    </div>

    <div class="form-charging">
      <div class="form-group">
        <div class="url-input flex">
          <div class="label">Thumb Videos</div>
          <div class="list-input flex">
            <ng-container *ngFor="let thumb of model.thumbvideos; let i = index">
              <div class="flex" style="margin: 0 4px 8px 4px;">
                <img class="m-3" src="{{thumb}}" height="260">
                <!-- <input type="text" class="form-control" [value]="thumb" placeholder="thumb videos" (input)="changethumbvideos($event, thumb, i)"  /> -->
                <!-- <button class="btn btn-danger" (click)="deleteThumbvideos(i)">
                  Xoá
                </button> -->
              </div>
            </ng-container>
          </div>
        </div>
        <!-- <div class="btn-section">
          <button class="btn btn-success" style="margin-right: 8px" (click)="addThumbvideos()">
            Thêm
          </button>
        </div> -->
      </div>

      <div class="form-group">
        <div class="url-input flex">
          <div class="label">Videos</div>
          <div class="list-input flex">
            <ng-container *ngFor="let video of model.videos; let i = index">
              <div class="flex" style="margin: 0 4px 8px 4px;">
                <video class="m-3" height="260" autoplay loop>
                  <source src="{{video}}" type="video/mp4">
                  <source src="assets/video/video_default.mp4" type="video/mp4">
                </video>
                <!-- <input type="text" class="form-control" [value]="video" placeholder="videos" (input)="changevideos($event, video, i)"  /> -->
                <!-- <button class="btn btn-danger" (click)="deleteVideo(i)">
                  Xoá
                </button> -->
              </div>
            </ng-container>
          </div>
        </div>
        <!-- <div class="btn-section">
          <button class="btn btn-success" style="margin-right: 8px" (click)="addVideo()">
            Thêm
          </button>
        </div> -->
      </div>


      <!-- <div class="form-group">
        <div class="url-input flex">
          <div class="label">Sounds</div>
          <div class="list-input flex">
            <ng-container *ngFor="let sound of model.sounds; let i = index">
              <div class="flex" style="margin: 0 4px 8px 4px;">
                <img src="{{sound}}">
                <input type="text" class="form-control" [value]="sound" placeholder="sounds" (input)="changesounds($event, sound, i)"  />
                <button class="btn btn-danger" (click)="deleteSound(i)">
                  Xoá
                </button>
              </div>
            </ng-container>
          </div>
        </div> -->
        <!-- <div class="btn-section">
          <button class="btn btn-success" style="margin-right: 8px" (click)="addSound()">
            Thêm
          </button>
        </div>
      </div> -->

      <div class="form-group">
        <div class="url-input flex">
          <div class="label">IsPremium</div>
          <div class="list-input flex">
            <ng-container>
              <div class="flex" style="margin: 0 4px 8px 4px;">
                <input [(ngModel)]="modelToSave.isPremium" type="checkbox" placeholder="isPremium" />
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="url-input flex">
          <div class="label">Priority</div>
          <div class="list-input flex">
            <ng-container>
              <div class="flex" style="margin: 0 4px 8px 4px;">
                <input [(ngModel)]="modelToSave.priority" type="number" class="form-control" placeholder="priority" />
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- <button class="btn btn-primary" (click)="saveData()">Lưu</button> -->
    </div>
  </div>