.charging-category-container {
  margin: 32px;
}

:host{
  ::ng-deep{
    .ag-row .ag-cell.align-center {
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center;
    }
  }
}