.list-charging-container {
  margin: 32px;
}


:host {
  ::ng-deep {
    .ag-row .ag-cell.h-align-center {
      display: flex;
      align-items: center;
    }

    .ag-row .ag-cell.v-align-center {
      display: flex;
      justify-content: center;
    }
  }

  mat-toolbar {
    justify-content: space-between;
  }

  .content {
    padding: 16px;
  }

  .content>mat-card {
    margin-bottom: 16px;
  }

  .column-label {
    margin-right: 8px;
    font-size: 1rem;
  }
}