<app-header></app-header>
<div class="container-fluid">
    <div class="back-btn" style="margin-top: 16px">
        <button class="btn btn-secondary" (click)="back()">
            Quay lại
        </button>
    </div>
    <div class="form-charging">
        <app-loading [loader]="isLoading"></app-loading>
        <div class="form-group">
            <div class="url-input flex">
                <div class="label">Videos</div>
                <div class="list-input flex">
                    <ng-container *ngFor="let video of model.videos let i = index">
                        <div class="flex" style="margin: 0 4px 8px 4px;">
                            <video width="320" height="240" autoplay>
                                <source src="{{video}}" type="video/mp4">
                              </video>
                            <!-- <input type="text" class="form-control" [value]="video" placeholder="videos" (input)="changevideos($event, video, i)" />
                            <button class="btn btn-danger" (click)="deleteVideo(i)">
                                Xoá
                            </button> -->
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="btn-section">
                <button class="btn btn-success" style="margin-right: 8px" (click)="addVideo()">
                    Thêm
                </button>
            </div> -->
        </div>

        <div class="form-group">
            <div class="url-input flex">
                <div class="label">Thumbs</div>
                <div class="list-input flex">
                    <ng-container *ngFor="let thumb of model.thumbs; let i = index">
                        <div class="flex" style="margin: 0 4px 8px 4px;">
                            <img src="{{thumb}}" width="208" height="463">
                            <!-- <input type="text" class="form-control" [value]="thumb" placeholder="thumbs" (input)="changethumbs($event, thumb, i)" />
                            <button class="btn btn-danger" (click)="deleteThumb(i)">
                                Xoá
                            </button> -->
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="btn-section">
                <button class="btn btn-success" style="margin-right: 8px" (click)="addThumb()">
                    Thêm
                </button>
            </div> -->
        </div>


        <div class="form-group">
            <div class="url-input flex">
                <div class="label">IsPremium</div>
                <div class="list-input flex">
                    <ng-container>
                        <div class="flex" style="margin: 0 4px 8px 4px;">
                            <input type="checkbox" [(ngModel)]="modelToSave.isPremium" placeholder="isPremium" />
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="url-input flex">
                <div class="label">IsLiveWallpaper</div>
                <div class="list-input flex">
                    <ng-container>
                        <div class="flex" style="margin: 0 4px 8px 4px;">
                            <input type="checkbox" [(ngModel)]="modelToSave.isLiveWallpaper"  placeholder="isLiveWallpaper" />
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="url-input flex">
                <div class="label">Priority</div>
                <div class="list-input flex">
                    <ng-container>
                        <div class="flex" style="margin: 0 4px 8px 4px;">
                            <input type="number" [(ngModel)]="modelToSave.priority" class="form-control" placeholder="priority" />
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- <button class="btn btn-primary">Lưu</button> -->
    </div>
</div>