
<div class="file-category">
  <span class="margin-right-8">Loại nhóm</span>
  <select >
    <option value="1">catgory 1</option>
    <option value="2">catgory 2</option>
    <option value="3">catgory 3</option>
  </select>
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Videos</label>
  <input class="form-control" (change)="onFileChange($event, 3)" type="file" accept="video/mp4" id="videos">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Thumbs</label>
  <input class="form-control" (change)="onFileChange($event, 1)" type="file" accept="image/*" id="thumbs">
</div>

<div class="mb-3">
  <label class="form-label">IsLiveWallpaper</label>
  <input class="form-control" type="checkbox" id="isLiveWallpaper">
</div>
<div class="mb-3">
  <label class="form-label">IsPremium</label>
  <input class="form-control" type="text" accept="image/*" id="isPremium">
</div>