
<div class="file-category">
  <span class="margin-right-8">Loại nhóm</span>
  <select class="custom-select" [(ngModel)]="data.category">
    <option *ngFor="let category of chargingCategory" [value]="category.id">{{category.name}}</option>
  </select>
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Videos</label>
  <input class="form-control" (change)="onFileChange($event, 3)" type="file" accept="video/mp4" id="videos">
</div>

<div class="mb-3">
  <label for="formFile" class="form-label">Thumbs</label>
  <input class="form-control" (change)="onFileChange($event, 1)" type="file" accept="image/*" id="thumbs">
</div>

<div class="mb-3">
  <label class="form-label">IsPremium</label>
  <input [(ngModel)]="data.isPremium" class="form-check-input" style="margin: 3px 8px;" type="checkbox" id="isPremium">
</div> 

<div class="mb-3">
  <label class="form-label">Priority</label>
  <input [(ngModel)]="data.priority" class="form-control" type="number" id="priority">
</div>
<button class="btn btn-primary" (click)="saveData()">Lưu</button>