<app-header></app-header>
<div class="container">
    <div class="row header">
      <div class="col-sm col-header">Tên đăng nhập</div>
      <div class="col-sm col-header">Email</div>
      <div class="col-sm col-header">Số điện thoại</div>
    </div>
    <div class="row" *ngFor=" let user of dataUser">
        <div class="col-sm col-header col-body">{{user.username}}</div>
        <div class="col-sm col-header col-body">{{user.email}}</div>
        <div class="col-sm col-header col-body">{{user.phoneNumber}}</div>
      </div>
  </div>