:host {
  position: absolute;
  width: 120px;
  pointer-events: none;

  .custom-tooltip{
    display: flex;
    flex-direction: row;
  }
  .image-tooltip, .video-tooltip{
    margin: 0 8px;
  }
}

:host.ag-tooltip-hiding {
  opacity: 0;
}