<span class="margin-right-8">Loại file</span>
<div class="file-type-container">
  <div class="file-type-group">
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="checkbox"
        name="inlineRadioOptions"
        id="inlineRadio1"
        value="option1"
      />
      <label class="form-check-label" for="inlineRadio1">mp4</label>
    </div>
    <span class="upload-container">
      <input type="file" name="filename" id="fileId" />
    </span>
  </div>
  
  <div class="file-type-group">
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="checkbox"
        name="inlineRadioOptions"
        id="inlineRadio2"
        value="option2"
      />
      <label class="form-check-label" for="inlineRadio2">mp3</label>
    </div>
    <span class="upload-container">
      <input type="file" name="filename" id="fileId" />
    </span>
  </div>

  <div class="file-type-group">
    <div class="form-check form-check-inline">
      <input
        mdbRadio
        class="form-check-input"
        type="checkbox"
        name="inlineRadioOptions"
        id="inlineRadio3"
        value="option3"
      />
      <label class="form-check-label" for="inlineRadio3">image</label>
    </div>
    <span class="upload-container">
      <input type="file" name="filename" id="fileId" />
    </span>
  </div>
</div>
