.file-type-container {
  display: flex;
}
.form-check {
  display: block;
  min-height: 1.6rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
} 
.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.125em;
  margin-right: 6px;
}
